<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="row banner">
        <div class="col-xs-6 col-xs-offset-3">
          <h1>Hello World!!</h1>
        </div>
      </div>
      <div class="row story">
        <div class="image col-xs-4 col-xs-offset-1"></div>
        <div class="col-xs-4 col-xs-offset-4 descirbe"></div>
      </div>
      <div class="row">
        <div class="subscribe col-xs-12"></div>
      </div>
    </div>
  </div>
</div>