<div class="container">
 <div class="row text-center order_confirmed">
  <div class="col-xs-12 vertical">
   <div class="thankslogo"></div>
   <% if @menu.in_stock_qty == 0 %>
    <h2>不好意思，今日便當已賣完，目前媽媽準備的份量有限</h2>
    <h2>我們會持續努力以提供更多服務，非常感謝您的支持！</h2>
    <h2></h2>
    <%= link_to "回首頁", root_path, :class=>"btn btn-primary" %>
   <% else  %>
    <h2>不好意思，今日便當只剩<%=@menu.in_stock_qty%>份，目前媽媽準備的份量有限</h2>
    <h2>我們會持續努力以提供更多服務，非常感謝您的支持！</h2>
    <h2></h2>
    <%= link_to "回首頁", root_path, :class=>"btn btn-primary" %>
    <%= link_to root_path(:facebookbuy => "true"), :class => "btn btn-warning" do %>
    重新購買
    <% end %>
   <% end %>
  </div>
 </div>
</div>
