<div class="container">
 <div class="row text-center order_confirmed">
  <div class="col-xs-12 vertical">
   <div class="thankslogo"></div>
   <h2>不好意思，今日便當已售完！目前媽媽準備的份量有限</h2>
   <h2>我們會持續努力以提供更多服務，非常感謝您的支持！</h2>
   <h2></h2>
   <%= link_to "回首頁", root_path, :class=>"btn btn-primary" %>
  </div>
 </div>
</div>
