<div class="thanksPage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 vertical text-center">
        <div class="thanksLogo">
          <%= image_tag("thanks_logo.png", :height => "40%", :width => "40%", alt: "bento banto") %>
        </div>
        <h1>感謝您的訂購！</h1>
        <h3>便當將於中午11:45-12:15送達。為確保運送順利，我們會用電話聯絡，請保持手機暢通。</h3>
        <h3>為響應環保，我們將不會提供餐具，所以要請您自備喲！</h3>
        <br>
        <h3>BentoBanto享有保留訂單的權利</h3>
        <h3>客服信箱：thebentobanto@gmail.com</h3>
        <br>
        <%= link_to "回首頁",root_path, :class =>"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>