<div class="container">
  <div class="row">
  <h1>感謝您訂購便當</h1>
    <hr>
    <h3>便當將於中午12:00前後15分鐘送達。若找不到您，我們會用電話聯絡，請抱持手機暢通。此外，為響應環保，我們將不會提供餐具，所以要請您自備喲！</h3>
    <%= link_to "回首頁",root_path, :class =>"btn btn-primary" %></div>
</div>