<div class="container">
 <div class="row text-center order_confirmed">
  <div class="col-xs-12 vertical">
   <div class="thankslogo"></div>
   <h1>感謝您的訂購！</h1>
   <!-- <hr> -->
   <h3>便當將於中午11:45-12:15送達。若找不到您，我們會用電話聯絡，請抱持手機暢通。<br>為響應環保，我們將不會提供餐具，所以要請您自備喲！</h3>
   <br>
   <%= link_to "回首頁",root_path, :class =>"btn btn-primary" %>
  </div>
 </div>
</div>