<div class="container">
  <div class="row">
  <h1>新訂單</h1>

    <%= render 'form' %>

   <table class="table">
    <th><%= link_to 'Back', admin_orders_path,:class=>"btn btn-primary" %></th>
   </table>
  </div>
</div>