@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome-sprockets";
@import "font-awesome";

#headNav {

}

.navbar-default {
  display: none;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  opacity: 0;
  margin-bottom: 0px;
}

.navbar-right {
  margin-top: -30px;
}

#home {
  background: image-url("mainBanner_WEB.JPG") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

#home .mainArticle {
  position: absolute;
  margin-top: 140px;
  width: 100%;
  font-size: 64px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

#home .mainParagraph {
  margin-top: 210px;
  position: absolute;
  width: 100%;
  font-size: 24px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

.centerLogo {
  margin-top: 20px;
}

.scroll-down {
  margin-top: 340px;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.scroll-down .btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 100%;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: normal;
  color: #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.scroll-down .btn:hover {
  border-color: rgba(255,255,255,.5);
  outline: 0;
  color: rgba(255,255,255,.5);
}

#preInfo {
  min-height: 80px;
  background-color: #F9F1E4;
}

#info {
  padding-bottom: 30px;
  background-color: #F9F1E4;
}

.storyInfo {
  display:block;
  margin:auto;
}

#preStory {
  min-height: 80px;
  background-color: #F9F1E4;
}

#story {
  background: image-url("story_WEB.png") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  width: 100vw;
}

.storyTitle {
  position: relative;
  color: white;
}

.storyParagraph {
  position: relative;
  color: white;
}

.btn {
  padding: 12px 18px;
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-outline-light {
  border: 1px solid #fff;
  color: #fff;
  background: 0 0;
  transition: all .5s;
}

.fbFanPageMobile {
  visibility: hidden;
}

#order {
  background-color: white;
  max-height: 100vh;
  margin-bottom: 30px;
}

.storyImg {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.orderBento {
  margin-bottom: 20px;
}

.myOder {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dish {
  color: white;
  font-size: 25px;
  background-color: tan;
  border-radius: 60px;
  width:150px;
}

.chefTitle {
  margin-top: 2px;
}

.todayChef {
  margin-top: 3px;
  font-weight: bolder;
}

.chefInfo {
  margin-top: 0px;
}

.star {
  margin-left: 40px;
  margin-bottom: -18px;
  font-size: 20px;
  color:red;
  position: relative;
  z-index: 2;
}

.starInOrder {
  margin-right: 300px;
  margin-bottom: -18px;
  font-size: 20px;
  color:red;
  position: relative;
}

.blankInOrder {
  margin-top:20px;
}

.checkOrder {
  margin-right: 20px;
}

.pricePlace {
  margin-top: 40px;
  margin-bottom: 10px;
}

.priceInfo {
  font-size: 20px;
}

.price {
  font-size: 35px;
}

.order_confirmed {
 min-height: 640px;
}

.form-width {
  width: auto;
}

.form-width-small {
  width: 50px;
}

.text-align {
  display: inline-block;
  vertical-align: top;
}

.menu_title {
  font-size: 30px;
  font-weight: bold;
}
.confirm {
  font-size: 20px;
}

.vertical {
  margin-top: 100px;
}

.order_phase {
  margin-top: 10px;
}

#error {
  font-size: 25px;
  color:crimson;
}

.no_order{
  font-size: 20px;
}

.thankslogo {
 background: image-url("thanks_logo.png") no-repeat;
 background-size: 80% 80%;
 height:300px;
 width:600px;
 margin-top: -60px;
 margin-left:auto;
 margin-right:auto;
}



@media screen and (max-width: 767px) {
  #home {
    background: image-url("mainBanner_WEB.JPG") no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    width: 100vw;
  }

  #home .mainArticle {
    height: 100px;
    margin-top: 70px;
    width: 100%;
    font-size: 32px;
    color: white;
    text-shadow: #444 0 1px 1px;
  }

  #home .mainParagraph {
    margin-top: 105px;
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: white;
    text-shadow: #444 0 1px 1px;
  }

  .scroll-down {
     visibility:hidden;
  }

  .storyInfo {
    width: 100%;
    height: 100%;
  }

  #story {
    background: image-url("mom_story_mobile.png") no-repeat top center;
    background-size: 100%;
    background-attachment: fixed;
  }

  .storyTitle {
    display: none;
  }

  .storyParagraph {
    display: none;
  }

  .fbFanPage {
    /*display: none;*/
    margin-top: 60px;
    text-align: right;
  }

/*  .fbFanPageMobile {
    margin-top: 60px;
    text-align: right;
  }*/

  .dish {
    margin-left: 10px;
  }

  .buyBtn {
    margin-bottom: 10px;
  }

  .checkOrder {
    margin-bottom: 20px;
  }

}