@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "style";
@import "font-awesome-sprockets";
@import "font-awesome";

#headNav {

}

.navbar-default {
  display: none;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  opacity: 0;
  margin-bottom: 0px;
}

.navbar-right {
  margin-top: -30px;
}

#home {
  background: image-url("mainBanner_WEB.JPG") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

#home .mainArticle {
  height: 400px;
  position: absolute;
  margin-top: 180px;
  width: 100%;
  font-size: 64px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

#home .mainParagraph {
  margin-top: 250px;
  position: absolute;
  width: 100%;
  font-size: 24px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

.scroll-down {
  margin-top: 560px;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.scroll-down .btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 100%;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: normal;
  color: #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.scroll-down .btn:hover {
  border-color: rgba(255,255,255,.5);
  outline: 0;
  color: rgba(255,255,255,.5);
}

#order {
  padding-top: 80px;
}

.storyImg {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.orderBento {
  margin-bottom: 20px;
}

.dish {
  color: white;
  font-size: 25px;
  background-color: tan;
}

.chefTitle {
  margin-top: 2px;
}

.todayChef {
  margin-top: 3px;
  font-weight: bolder;
}

.chefInfo {
  margin-top: 0px;
}

#info {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: #F9F1E4;
}

#footer {
  padding-top: 80px;
  min-height: 150px;
  background-color: white;
  padding-bottom: 20px;
}

.momConts {
  font-size: 30px;
  color: white;
}

.storyCon {
  font-size: 20px;
}

.momsTalk {
  position:relative;
  padding:30px 60px;
  margin:40px 0 1em;
  color:#000;
  background:#FDBA2C;
  border-radius:10px;
  text-shadow: #444 0 1px 1px;
}

.momsTalk:after{
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.right {
  margin-right: 50px;
  background: #FDBA2C;
}

.momsTalk.right:after{
  top: 16px;
  right: -48px;
  bottom: auto;
  left: auto;
  border-width: 10px 0 10px 50px;
  border-color: transparent #FDBA2C;
}

.momConts1{
  font-size: 20px;
}

.momConts2{
  font-size: 20px;
}

.vcenter {
  vertical-align: middle;
}