@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome-sprockets";
@import "font-awesome";

#headNav {

}

.navbar-default {
  display: none;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  opacity: 0;
  margin-bottom: 0px;
}

.navbar-right {
  margin-top: -30px;
}

.downArrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid lightgray;
  display: inline-block;
  margin-left: 3px;
}

.dropdown-toggle {
  height: 80px;
  margin-top: -21px;
}

#home {
  background: image-url("mainBanner_clear.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#home::before {
  background-color: rgba(139, 69, 19, 0.4);
  content: '';
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#home .mainArticle {
  position: absolute;
  margin-top: 140px;
  width: 100%;
  font-size: 64px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

#home .mainParagraph {
  margin-top: 210px;
  position: absolute;
  width: 100%;
  font-size: 24px;
  color: white;
  text-shadow: #444 0 1px 1px;
}

.centerLogo {
  margin-top: 20px;
}

.scroll-down {
  margin-top: 340px;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.scroll-down .btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 100%;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: normal;
  color: #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.scroll-down .btn:hover {
  border-color: rgba(255,255,255,.5);
  outline: 0;
  color: rgba(255,255,255,.5);
}

#preInfo {
  min-height: 80px;
  background-color: #F9F1E4;
}

#info {
  padding-bottom: 30px;
  background-color: #F9F1E4;
}

.fadeInBlock {
  opacity:0;
}

.storyInfo {
  display:block;
  margin:auto;
}

.infoTitle {
  margin-bottom: 10px;
}

.infoH1 {
  color: #3AAEA0;
}

#preStory {
  min-height: 80px;
  background-color: #F9F1E4;
}

#story {
  background: image-url("story_WEB.png") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  width: 100vw;
}

.storyTitle {
  position: relative;
  color: white;
}

.storyParagraph {
  position: relative;
  color: white;
}

.btn {
  padding: 12px 18px;
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-outline-light {
  border: 1px solid #fff;
  color: #fff;
  background: 0 0;
  transition: all .5s;
}

#order {
  background-color: white;
  max-height: 100vh;
  margin-bottom: 30px;
  position:relative;
}

.storyImg {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.orderBento {
  margin-bottom: 20px;
}

.myOder {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dish {
  color: white;
  font-size: 25px;
  background-color: tan;
  border-radius: 70px;
  width:150px;
  min-height:0px !important;
}

.chefTitle {
  margin-top: 2px;
}

.todayChef {
  margin-top: 2px;
  font-weight: bolder;
}

.chefInfo {
  margin-top: 0px;
}

.star {
  margin-left: 40px;
  margin-bottom: -18px;
  font-size: 20px;
  margin-left:40px;
  color:red;
  position: relative;
  z-index: 2;
}

.starInOrder {
  margin-right: 300px;
  margin-bottom: -18px;
  font-size: 20px;
  color: red;
  position: relative;
}

.blankInOrder {
  margin-top:20px;
}

.checkOrder {
  margin-right: 20px;
}

.pricePlace {
  margin-top: 40px;
  margin-bottom: 10px;
}

.priceInfo {
  font-size: 20px;
}

.price {
  font-size: 35px;
}

.fbBuy {
  padding-left: 120px;
  padding-right: 120px;
  margin-right: 42px;
}

.order_confirmed {
 min-height: 640px;
}

.form-width {
  width: auto;
}

.form-width-small {
  width: 50px;
}

.text-align {
  display: inline-block;
  vertical-align: top;
}

.menu_title {
  font-size: 30px;
  font-weight: bold;
}
.confirm {
  font-size: 20px;
}

.vertical {
  margin-top: 100px;
}

.order_phase {
  margin-top: 10px;
}

#error {
  font-size: 25px;
  color:crimson;
}

.no_order{
  font-size: 20px;
}

.thanksPage {
  background: image-url("thanks.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
}

.thanksPage::before {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}

.thanksLogo {
  margin-top: -80px;
}

.history {
  font-size:20px;
  width:50px;
}

.history_name {
  font-size:16px;
  width:50px;
  font-weight: bold;
}

.history_chef {
  font-size:15px;
  width:220px;
}

.history_contents {
  font-size:15px;
  width:280px;
}

.space {
  line-height: 3;
}

.history_image {
  line-height: 2.5;
  margin-top:15px;
}

.likes_label {
  font-size: 18px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 50%;
}

.heart {
  font-size: 55px;
  position: absolute;
  right: 0px;
  top: 0px;
  color:red;
}

.badge_heart {
 position:absolute;
 right: 14px;
 top: 20px;
 z-index: 2;
 background-color: red;
}

.badge_order_record {
  background-color: deeppink;
}

.btn-color {
  background-color: royalblue;
}
.line {
  min-height:20px;
}



@media screen and (max-width: 767px) and (orientation : portrait) {
  #home {
    background: image-url("mainBanner_clear.png") no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
    position: relative;
  }

  #home::before {
    background-color: rgba(139, 69, 19, 0.4);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  #home .mainArticle {
    height: 100px;
    margin-top: 70px;
    width: 100%;
    font-size: 32px;
    color: white;
    text-shadow: #444 0 1px 1px;
  }

  #home .mainParagraph {
    margin-top: 105px;
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: white;
    text-shadow: #444 0 1px 1px;
  }

  .centerLogo {
    visibility: hidden;
  }

  .scroll-down {
    visibility: hidden;
  }

  .infoH1 {
    margin-bottom: 10px;
  }

  #story {
    background: image-url("mom_story_mobile.png") no-repeat top center;
    background-size: 100%;
    background-attachment: scroll;
  }

  .storyTitle {
    display: none;
  }

  .storyParagraph {
    display: none;
  }

  .fbFanPage {
    display: none;
  }

  .fbFanPageMobile {
    margin-top: 60px;
    text-align: right;
  }

  .orderBento {
    margin-top: -200px;
  }

  .star {
    margin-left: 15px;
    margin-bottom: -18px;
    font-size: 20px;
    color:red;
    position: relative;
    z-index: 2;
  }

  .starInOrder {
    margin-left: 90px;
    margin-bottom: -18px;
    font-size: 20px;
    color: red;
    position: relative;
  }

  .dish {
    margin-left: 10px;
  }

  .buyBtn {
    margin-bottom: 10px;
  }

  .checkOrder {
    margin-left: 32px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 767px) {
  #home {
    background: image-url("mainBanner_clear.png") no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
    position: relative;
  }

  #home::before {
    background-color: rgba(139, 69, 19, 0.4);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  #home .mainArticle {
    height: 100px;
    margin-top: 70px;
    width: 100%;
    font-size: 32px;
    color: white;
    text-shadow: #444 0 1px 1px;
  }

  #home .mainParagraph {
    margin-top: 105px;
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: white;
    text-shadow: #444 0 1px 1px;
  }

  .scroll-down {
    visibility: hidden;
  }

  .infoH1 {
    margin-bottom: 10px;
  }

  #story {
    background: image-url("mom_story_mobile.png") no-repeat top center;
    background-size: 100%;
    background-attachment: scroll;
  }

  .storyTitle {
    display: none;
  }

  .storyParagraph {
    display: none;
  }

  .fbFanPage {
    display: none;
  }

  .fbFanPageMobile {
    margin-top: 60px;
    text-align: right;
  }

  .star {
    margin-left: 15px;
    margin-bottom: -18px;
    font-size: 20px;
    color:red;
    position: relative;
    z-index: 2;
  }

  .starInOrder {
    margin-left: 90px;
    margin-bottom: -18px;
    font-size: 20px;
    color: red;
    position: relative;
  }

  .dish {
    margin-left: 10px;
  }

  .buyBtn {
    margin-bottom: 10px;
  }

  .checkOrder {
    margin-left: 32px;
    margin-bottom: 20px;
  }

  .heart {
    font-size: 55px;
    position: absolute;
    right: 9px;
    top: 0px;
    color:red;
  }

  .badge_heart {
   position:absolute;
   right: 23px;
   top: 20px;
   z-index: 2;
   background-color: red;
  }

}

@media only screen and (max-device-width : 320px) {

  #home .mainArticle {
    height: 100px;
    margin-top: 70px;
    width: 100%;
    font-size: 28px;
    color: white;
    text-shadow: #444 0 1px 1px;
  }

  #home .mainParagraph {
    margin-top: 105px;
    position: absolute;
    width: 100%;
    font-size: 12px;
    color: white;
    text-shadow: #444 0 1px 1px;
  }

  .myOder {
    margin-top: -5px;
  }

  .star {
    margin-left: 80px;
  }

  .fixW320 {
    margin-bottom: 10px;
  }

  .dish {
    margin-left: 80px;
  }

  .fixOW320 {
    margin-right: 20px;
  }

  .heart {
    font-size: 55px;
    position: absolute;
    right: 9px;
    top: 0px;
    color:red;
  }

  .badge_heart {
   position:absolute;
   right: 23px;
   top: 20px;
   z-index: 2;
   background-color: red;
  }

}




