.order_confirmed {
 min-height: 640px;
}

.image {
  border:black solid 4px;
  height:300px;
  width:300px;
  border-radius: 50%;
  margin-top: 200px;
}
.descirbe {
  margin-top: 150px;
  border:black solid 4px;
  height:400px;
  width:400px;
  border-radius: 10px;
}
.subscribe {
  background-color: pink;
  min-height: 800px;
}
.mompic {
  margin-top: 150px;
}
.form-width {
  width: auto;
}
.form-width-small {
  width: 50px;
}
.text-align {
  display: inline-block;
  vertical-align: top;
}
.menu_head {
  font-size: 50px;
  font-weight: bold;
}
.menu_title {
  font-size: 30px;
  font-weight: bold;
}
.confirm {
  font-size: 20px;
}

.border {
  border-radius: 60px;
  width:150px;
}
.test {
  margin-top:20px;
}
.check{
  margin-right:20px;
}
.star{
  margin-bottom: -18px;
  font-size: 20px;
  color:red;
}
.vertical {
  margin-top: 100px;
}
.order_phase {
  margin-top: 10px;
}
#error {
  font-size: 25px;
  color:crimson;
}
.no_order{
  font-size: 20px;
}