<div class="container">
  <div class="row">
    <h1>修改菜單</h1>
    <%= render 'form' %>
    <hr>
      <%= link_to 'Show', @admin_menu,:class=>"btn btn-primary" %>
      <%= link_to 'Back', admin_menus_path,:class=>"btn btn-primary" %>
  </div>
</div>